{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{% import 'macros.html' as macro %}
{% block content %}
<div class="container" style="background-color: whitesmoke;">
    <div class="row">
        <div class="col-md-6">
            {% if current_user.is_authenticated %}
            {{ wtf.quick_form(comment_form) }}
            {%endif%}
        </div>
        <div class="col-md-6">
            <h3 class="" style="color:hotpink;">Display comments</h3>
            <p class="" style="color: white;">{{macro.displayComments(comments)}}</p>
        </div>
    </div>
</div>

<div>



</div>

{% endblock %}