{% extends 'base.html' %}


{% block content %}

<div class="container-fluid">

    <div class="jumbotron">
        <h2 class="display-4 pink-text" >Welcome to the best pictches</h2>
        <p class="lead">This is a an app where you can come and create a pitch and also view pitches that had been created by other users.</p>
        <hr class="my-4">
        <p>PITCH! PITCH! PITCH!.</p>
        <a class="btn btn-outline-pink btn-md" style="font-size: larger;" href="{{url_for('main.new_pitch')}}"><i
            class="fas fa-clone left"></i>Create
        Pitch</a>
      </div>

    {%for pitch in pitches%}

    <div class="row">
        <div class="col-9">
            <div class="card card-image mt-5"
                style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg); background-repeat: no-repeat; background-size: cover; width: 400px;">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h3 class="card-title pt-2 pink-text"><strong>{{pitch.pitch_category}}</strong></h3>
                        <p>{{pitch.pitch_comment| truncate(100)}}</p>
                        <a href="/pitch/{{pitch.pitch_id}}" class="btn btn-pink pull-right text-white">Comment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {%endfor%}

    {% endblock %}

    <p>Written by: {{pitch.user.username}} <a href="/pitch/{{pitch.pitch_id}}"
            class="btn btn-pink pull-right">Comment</a> </p>
</div>