{% extends 'base.html'%}

{% import 'macros.html' as macro%}

{%block content%}

<div class="first" style="background-image: url(https://www.xmple.com/wallpaper/linear-pink-black-gradient-highlight-1920x1080-c2-000000-ff69b4-l-50-a-150-f-21.svg);">
    <div class="container" >
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {{ macro.displayPitches(productPitches) }}
    
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    
</div>



{% endblock %}